/* Enter your custom styles here */
.page {
    background-image: url("https://www.medicaps.ac.in/resources/img/For-Students--img/Central-Library/1.%20Banner-2_11zon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}